*{
/*margins and padding of all elements initialized to 0*/
margin:0px;
padding:0px;
}
header,section,footer,aside,article{
display:block;
}
body{
/*Properties of the web page*/
width:100%;
display:-webkit-box;
-webkit-box-pack:center;
}
#content{
/*properties of the content div tag*/
min-width:500px;
max-width:1200px;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-box-flex:1;
-webkit-box-pack:center;
}
header{
/*header properties*/
display:-webkit-box;
-webkit-box-pack:center;
}
footer{
/*footer properties*/
display:-webkit-box;
-webkit-box-pack:center;
}
#meat{
/*properties of the main and side sections together*/
display:-webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-flex:1;
}
#main_section{
/*properties of main section of the page*/
min-width:200px;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-box-flex:1;
}
#side_section{
/*properties of the side section of the page*/
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-box-flex:0;
}
h1{
/*use for page titles*/
}
h3{
/*use for page sub-titles*/
}
h5{
/*use for page footer*/
}
.error{
/*use class="error" for error messages*/
color:red;
font-style:italic;
font-weight:900;
}
.success{
/*use class="success" for success messages*/
color:green;
font-style:italic;
font-weight:900;
}
#content,header,footer,#main_section,#side_section,article{
/*border:solid 1px black;*/
-webkit-border-radius:5px;
padding:10px;	
margin:5px;
}
.bdet,.adet{
	padding:5px;
	margin:2px;
}
.branch{
	padding:2px;
}
header{
background:-webkit-linear-gradient(left,#FFFFFF,#CCCCCC);
}
footer{
background:-webkit-linear-gradient(right,#FFFFFF,#CCCCCC);
}
#content{
background:-webkit-linear-gradient(#000033,#0000CC);
}
article{
background:-webkit-linear-gradient(#FFFFFF,#CCCCCC);
}
body{
background:black;
}
#main_section,#side_section{
background:-webkit-linear-gradient(bottom,#FFFFFF,#0000CC);
}
.button{
font-size:14px;
padding:10px 22px;
margin:2px;
background-color:#333333;
border:none;
color:white;
cursor:pointer;
-webkit-transition-duration:0.5s;
-webkit-border-radius:10px;
}
.button:hover{
background-color:#999999;
color:black;
}
